/**/
@import "var";
@mixin clear-fix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  &:before{
   display: block;
   content:  '';
   clear: both
  }
}
@mixin main-container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}