/*变量*/
$box-shadow-dark-color: #5e5b5b;
$color-desc-color: #d3d3d3;
$font-size-big-title: 24px;
$font-size-normal-title: 20px;;
$font-size-sm-title: 18px;
$font-size-desc: 14px;
$font-size-comment: 12px;